.btn--first {
  background-color: #fff4db; }

.btn--second {
  background-color: #eec6aa; }

.btn--third {
  background-color: #ffcd74; }

.btn--fourth {
  background-color: #d67b60; }

h1 {
  font-size: 11em; }

h2 {
  font-size: 5em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2em; }

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 4.2em; }
  h2 {
    font-size: 2.2em; }
  h3 {
    font-size: 1.53333em; }
  h4 {
    font-size: 1.2em; }
  p {
    font-size: 18px; } }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 7em; }
  h2 {
    font-size: 3em; }
  h3 {
    font-size: 1.66667em; }
  h4 {
    font-size: 1em; }
  p {
    font-size: 25px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  background-color: #fff4ee;
  grid-template-areas: "header" "main" "section1" "section2" "footer";
  grid-template-columns: auto;
  grid-template-rows: 100px auto auto auto auto;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center; }

.container_local {
  width: 1200px;
  margin: 0 auto; }

/* ------------- MEDIA QUERIES ------------- */
@media only screen and (max-width: 360px) {
  body {
    grid-template-areas: "header" "main" "section1" "section2" "footer";
    grid-template-columns: auto;
    grid-template-rows: 70px 100vh auto auto auto; }
  .container_local {
    width: 270px; } }

@media only screen and (min-width: 361px) and (max-width: 540px) {
  body {
    grid-template-areas: "header" "main" "section1" "section2" "footer";
    grid-template-columns: auto;
    grid-template-rows: 70px 100vh auto auto 30px; }
  .container_local {
    width: 360px; } }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  body {
    grid-template-areas: "header" "main" "section1" "section2" "footer";
    grid-template-columns: auto;
    grid-template-rows: 100px 100vh auto auto auto; }
  .container_local {
    width: 570px; } }

/* ------------- ESTILOS GENERALES ------------- */
h1, h2, h3, h4 {
  font-family: "Zen Loop", cursive;
  color: #dd2451;
  word-spacing: 20px;
  font-weight: bold;
  text-align: center; }

h1 {
  animation-name: aparecer;
  animation-duration: 2s; }

a {
  text-decoration: none;
  color: #827161;
  font-family: "Zen Loop", cursive;
  margin: 0 15px;
  font-weight: bold; }

a:hover {
  color: #dd2451; }

p {
  font-family: "Roboto", sans-serif;
  color: #827161; }

/* ------------- SOMBRA ------------- */
.shadow {
  width: 60%;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.116);
  border-radius: 50%;
  margin: 10px auto; }

/* ------------- KEYFRAMES ------------- */
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

/* ------------- HEADER ------------- */
header {
  grid-area: header;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  z-index: 1;
  position: absolute;
  width: 100%; }
  header .logo {
    height: 80px; }
  header nav {
    display: flex;
    align-items: center; }
    header nav .menu-btn {
      display: none; }
    header nav .menu-icon {
      position: relative;
      cursor: pointer;
      z-index: 1;
      padding: 20px 10px;
      display: none; }
      header nav .menu-icon__line {
        display: block;
        position: relative;
        background: #827161;
        height: 2px;
        width: 25px;
        border-radius: 4px; }
        header nav .menu-icon__line::before, header nav .menu-icon__line::after {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          border-radius: 4px;
          background: #827161; }
        header nav .menu-icon__line::before {
          transform: translateY(-5px); }
        header nav .menu-icon__line::after {
          transform: translateY(5px); }
    header nav .nav-links {
      display: flex;
      list-style: none; }
      header nav .nav-links .nav__link a {
        font-family: "Zen Loop", cursive;
        font-size: 30px;
        margin: auto 0;
        line-height: 70px; }
        header nav .nav-links .nav__link a:nth-child(-n+4) {
          margin-right: 2rem; }

@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    width: 100vw; }
    header nav .menu-btn:checked ~ .nav-links {
      opacity: 1;
      clip-path: circle(100% at center); }
    header nav .menu-icon {
      display: block; }
    header nav .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100vh;
      width: 100vw;
      background: #fff4ee;
      transition: opacity .8s .3s, clip-path 1s .2s;
      clip-path: circle(200px at top right); }
      header nav .nav-links .nav__link a {
        font-family: "Zen Loop", cursive;
        font-size: 30px;
        margin: auto 0;
        line-height: 70px; }
        header nav .nav-links .nav__link a:nth-child(-n+4) {
          margin-right: 2rem; } }

@media only screen and (max-width: 540px) {
  header .logo {
    height: 70px; } }

@media only screen and (min-width: 550px) and (max-width: 719px) {
  header .logo {
    height: 70px; } }

@media only screen and (min-width: 720px) and (max-width: 1000px) {
  header .logo {
    height: 80px; } }

/* ------------- BANNER ------------- */
.mainWrap {
  grid-area: main;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(../indexbackground-min.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .mainWrap .main__container {
    display: flex;
    justify-content: center;
    position: absolute;
    align-self: center; }
    .mainWrap .main__container .main--title {
      position: absolute;
      top: -50px; }
    .mainWrap .main__container .main__img {
      width: 60%;
      height: auto;
      animation-name: aparecer;
      animation-duration: 2s; }

@media only screen and (max-width: 360px) {
  .mainWrap .main__container {
    flex-direction: column;
    align-items: center; }
    .mainWrap .main__container .main__img {
      width: 90%;
      height: auto; } }

@media only screen and (min-width: 361px) and (max-width: 540px) {
  .mainWrap .main__container {
    flex-direction: column;
    align-items: center; }
    .mainWrap .main__container .main--title {
      position: absolute;
      top: -50px; }
    .mainWrap .main__container .main__img {
      width: 90%;
      height: auto; } }

@media only screen and (min-width: 541px) and (max-width: 768px) {
  .mainWrap .main__img {
    height: auto;
    width: 60%; } }

/* ------------- INDEX STEPS ------------- */
.steps {
  grid-area: section1;
  background-color: #827161;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  height: auto; }
  .steps .step {
    display: flex;
    justify-content: center;
    align-items: center; }
    .steps .step .step__img {
      height: auto;
      width: 50%; }
      .steps .step .step__img:hover {
        transition: 0.5s;
        transform: scale(1.3, 1.3); }

/* ------------- MEDIA QUERIES  (INDEX - STEPS) ------------- */
@media only screen and (max-width: 360px) {
  .steps {
    background-color: #ffeadd;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .steps .step {
      padding: 0; }
      .steps .step:nth-child(-n+2) {
        margin-bottom: 40px; } }

@media only screen and (min-width: 361px) and (max-width: 540px) {
  .steps {
    background-color: #ffeadd;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .steps .step {
      margin: 0 auto; }
      .steps .step:nth-child(-n+2) {
        margin-bottom: 40px; } }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .steps {
    background-color: #ffeadd;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .steps .step {
      margin: 0 40px; }
      .steps .step:nth-child(-n+2) {
        margin-bottom: 40px; }
      .steps .step .step__img {
        width: 60%; } }

/* ------------- INDEX RESCUES ------------- */
.rescues {
  grid-area: section2;
  margin-top: 40px; }
  .rescues .rescues--title {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px; }
  .rescues .rescues__article-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px;
    row-gap: 40px;
    column-gap: 40px; }
    .rescues .rescues__article-container .rescues__article {
      width: 350px;
      height: auto;
      box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.192);
      overflow: hidden;
      background-color: white;
      position: relative; }
      .rescues .rescues__article-container .rescues__article .rescues__img {
        width: 350px; }
        .rescues .rescues__article-container .rescues__article .rescues__img:hover {
          transition: 1s;
          transform: scale(1.2, 1.2); }
      .rescues .rescues__article-container .rescues__article .rescues--article-title {
        position: relative;
        text-align: center;
        margin-top: -50px;
        margin-bottom: 0px;
        background-color: rgba(255, 255, 255, 0.801); }
      .rescues .rescues__article-container .rescues__article .rescues__p {
        background-color: white;
        padding: 10px;
        position: relative; }
      .rescues .rescues__article-container .rescues__article .btn {
        border: none;
        height: 50px;
        min-width: 100px;
        padding: 0 10px;
        display: inline-block;
        border-radius: 100px;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center; }
        .rescues .rescues__article-container .rescues__article .btn:hover {
          color: #dd2451; }
        .rescues .rescues__article-container .rescues__article .btn span {
          font-size: 20px;
          font-weight: bold; }
      .rescues .rescues__article-container .rescues__article .btn--absolute {
        position: absolute;
        top: 10px; }

@media only screen and (max-width: 360px) {
  .rescues .rescues--title {
    font-size: 300%; }
  .rescues .rescues__article-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 240px;
    column-gap: 40px; }
    .rescues .rescues__article-container .rescues__article {
      width: 240px;
      height: auto; }
      .rescues .rescues__article-container .rescues__article .rescues__img {
        width: 240px; }
    .rescues .rescues__article-container .rescues__p {
      display: none; } }

@media only screen and (min-width: 361px) and (max-width: 540px) {
  .rescues .rescues--title {
    font-size: 300%; }
  .rescues .rescues__article-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 340px;
    column-gap: 40px; }
    .rescues .rescues__article-container .rescues__article {
      width: 300px; }
      .rescues .rescues__article-container .rescues__article .rescues__img {
        width: 300px; } }

@media only screen and (min-width: 541px) and (max-width: 768px) {
  .rescues .rescues--title {
    font-size: 400%; }
  .rescues .rescues__article-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 450px;
    row-gap: 40px; }
    .rescues .rescues__article-container .rescues__article {
      width: 450px; }
      .rescues .rescues__article-container .rescues__article .rescues__img {
        width: 450px; }
      .rescues .rescues__article-container .rescues__article .rescues--article-title {
        font-size: 50px;
        margin-top: -70px; }
      .rescues .rescues__article-container .rescues__article .rescues__p {
        font-size: 25px; } }

.main__rimg {
  height: auto;
  width: 50%; }

.refugioArticles {
  grid-area: section1;
  display: grid;
  grid-template-columns: 600px 600px;
  column-gap: 20px;
  row-gap: 100px;
  justify-content: center; }

.cat_container {
  justify-self: end; }

/* ------------- MEDIA QUERIES ------------- */
@media only screen and (max-width: 540px) {
  .refugioArticles {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px; }
  .cat__imgexample {
    height: 100px; } }

@media only screen and (min-width: 361px) and (max-width: 540px) {
  .cat__imgexample {
    height: 300px; } }

@media only screen and (min-width: 541px) and (max-width: 768px) {
  .refugioArticles {
    grid-area: section1;
    display: grid;
    grid-template-columns: 260px 260px;
    grid-template-rows: auto;
    row-gap: 100px;
    column-gap: 20px;
    justify-content: center; }
  .cat__imgexample {
    height: 250px; } }

#adoptaSection1 {
  grid-area: section1;
  display: grid;
  grid-template-columns: 600px 600px;
  row-gap: 100px;
  justify-content: center;
  justify-self: center;
  padding: 0 60px; }
  #adoptaSection1 .cat__container {
    justify-self: end; }
  #adoptaSection1 .span--adopta {
    font-size: 25px; }

#adoptaSection2 {
  grid-area: section2;
  display: grid;
  grid-template-columns: 1000px;
  grid-template-rows: 150px auto;
  justify-content: center;
  margin-bottom: 20px; }
  #adoptaSection2 .section2__table {
    height: 700px;
    width: auto;
    margin-top: 40px; }
    #adoptaSection2 .section2__table table, #adoptaSection2 .section2__table th, #adoptaSection2 .section2__table td {
      border: 3px solid #dd2451;
      background-color: white; }
    #adoptaSection2 .section2__table th {
      background-color: #fff4ee;
      font-family: "Zen Loop", cursive;
      font-size: 200%;
      color: #827161;
      padding: 30px; }
    #adoptaSection2 .section2__table .firstVerticalRow {
      background-color: #fff4ee;
      font-family: "Zen Loop", cursive;
      font-size: 200%;
      font-weight: bold;
      color: #827161; }
    #adoptaSection2 .section2__table td {
      font-family: "Roboto", sans-serif;
      font-size: 130%;
      text-align: center;
      padding: 30px; }

@media only screen and (max-width: 540px) {
  #adoptaSection1 {
    display: flex;
    flex-direction: column;
    padding: 0 20px; }
    #adoptaSection1 .cat__imgexample {
      justify-content: end; }
  #adoptaSection2 {
    grid-area: section2;
    display: flex;
    flex-direction: column;
    padding: 0 20px; }
    #adoptaSection2 .section2__table {
      display: none; } }

@media only screen and (min-width: 541px) and (max-width: 768px) {
  #adoptaSection1 {
    display: grid;
    grid-template-columns: 560px;
    row-gap: 100px;
    justify-content: center;
    justify-self: center;
    padding: 0 60px; }
    #adoptaSection1 .cat__imgexample {
      justify-self: end; }
  #adoptaSection2 {
    grid-area: section2-tablet;
    display: grid;
    grid-template-columns: 570px;
    grid-template-rows: auto;
    justify-content: center;
    margin-bottom: 20px; }
    #adoptaSection2 .section2__table {
      display: none; } }

.donacionesSection {
  grid-area: section1;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 10px auto; }
  .donacionesSection .donaciones__article {
    width: auto; }
    .donacionesSection .donaciones__article .donaciones__paymethod {
      display: grid;
      grid-template-columns: auto 500px;
      grid-template-rows: auto;
      column-gap: 30px;
      justify-content: center;
      margin-top: 40px; }
      .donacionesSection .donaciones__article .donaciones__paymethod:nth-child(n+3) {
        margin-top: 70px; }
      .donacionesSection .donaciones__article .donaciones__paymethod div h3 {
        word-spacing: 3px; }
  .donacionesSection .pagosLogo {
    width: 200px; }

@media only screen and (max-width: 768px) {
  .donacionesSection .donaciones__article {
    display: flex;
    flex-direction: column; }
    .donacionesSection .donaciones__article .donaciones__paymethod {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 10px; }
      .donacionesSection .donaciones__article .donaciones__paymethod:nth-child(n+3) {
        margin-top: 70px; }
  .donacionesSection .pagosLogo {
    width: 200px; } }

/* ------------- CONTACTO - FORMULARIO ------------- */
#contactoSection {
  grid-area: section1;
  display: flex;
  justify-content: center; }
  #contactoSection form {
    background-color: rgba(255, 255, 255, 0.445);
    border: 10px groove #dd2451;
    color: #827161;
    text-align: center;
    width: auto;
    height: auto;
    padding: 50px 60px; }
    #contactoSection form .form__container {
      padding-bottom: 50px; }
      #contactoSection form .form__container div:nth-child(-n+4) {
        margin-bottom: 40px; }
      #contactoSection form .form__container div .personData {
        display: inline-block;
        font-family: "Zen Loop", cursive;
        color: #827161;
        font-size: 200%;
        font-weight: bold; }
      #contactoSection form .form__container div input {
        border: none;
        border-bottom: 2px solid #827161;
        width: 200px;
        background: none;
        margin-left: 20px;
        outline: 0; }
      #contactoSection form .form__container div select {
        appearance: none;
        outline: 0;
        border: 0;
        background: #ffeadd; }
      #contactoSection form .form__container div .select {
        position: relative;
        margin-left: 20px;
        padding: 5px 15px;
        width: 210px;
        overflow: hidden;
        border-radius: 5px;
        color: #827161;
        font-family: "Zen Loop", cursive;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer; }
      #contactoSection form .form__container .formTitle {
        font-family: "Zen Loop", cursive;
        color: #827161;
        font-size: 200%;
        font-weight: bold;
        margin: 0; }
      #contactoSection form .form__container .reason {
        font-size: 25px;
        font-family: "Roboto", sans-serif;
        color: #827161;
        padding-top: 5px; }
      #contactoSection form .form__container textarea {
        border: groove 5px #dd2451;
        width: 250px;
        height: 50%;
        padding: 10px;
        outline: 0; }
    #contactoSection form .form__btncontainer {
      display: flex;
      justify-content: center; }
      #contactoSection form .form__btncontainer .btn--form {
        border: none;
        height: 50px;
        min-width: 100px;
        padding: 0 10px;
        display: inline-block;
        border-radius: 100px;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: "Zen Loop", cursive;
        color: #827161;
        font-size: 30px; }
        #contactoSection form .form__btncontainer .btn--form:hover {
          color: #dd2451; }
        #contactoSection form .form__btncontainer .btn--form:first-child {
          margin-right: 20px; }

@media only screen and (max-width: 359px) {
  #contactoSection form {
    padding: 5px 5px;
    border: 5px groove #dd2451;
    margin: 0 5px; }
    #contactoSection form .form__container {
      padding-bottom: 20px; }
      #contactoSection form .form__container select {
        display: flex; }
      #contactoSection form .form__container textarea {
        border: groove 2px #dd2451;
        width: 250px;
        height: 50%;
        padding: 10px;
        outline: 0; }
    #contactoSection form .form__btncontainer {
      margin-bottom: 20px; }
      #contactoSection form .form__btncontainer .btn--form {
        font-size: 20px;
        font-weight: bold; } }

@media only screen and (min-width: 360px) and (max-width: 540px) {
  #contactoSection form {
    padding: 15px 15px;
    border: 5px groove #dd2451;
    margin: 0 5px; }
    #contactoSection form .form__container {
      padding-bottom: 20px; }
      #contactoSection form .form__container .form__select {
        display: flex;
        justify-content: center; }
        #contactoSection form .form__container .form__select select {
          align-self: center; }
      #contactoSection form .form__container textarea {
        border: groove 4px #dd2451;
        width: 250px;
        height: 50%;
        padding: 10px;
        outline: 0; }
    #contactoSection form .form__btncontainer {
      margin-bottom: 20px; }
      #contactoSection form .form__btncontainer .btn--form {
        font-size: 20px;
        font-weight: bold; } }

@media only screen and (min-width: 541px) and (max-width: 768px) {
  #contactoSection form {
    padding: 30px 40px;
    margin: 0 5px; }
    #contactoSection form .form__container textarea {
      width: 250px;
      height: 50%;
      padding: 10px;
      outline: 0; }
    #contactoSection form .form__btncontainer {
      margin-bottom: 20px; }
      #contactoSection form .form__btncontainer .btn--form {
        font-size: 30px;
        font-weight: bold; } }

.error404 {
  background-color: #fff4ee; }
  .error404 .error404__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    animation-name: aparecer;
    animation-duration: 1s; }
    .error404 .error404__section .error404__titles .error404--title {
      font-size: 100px; }
    .error404 .error404__section .error404__titles .error404--title2 {
      font-size: 40px;
      word-spacing: 3px; }
    .error404 .error404__section .error404__imgContainer {
      position: relative;
      height: 400px; }
      .error404 .error404__section .error404__imgContainer .error404__img {
        height: 400px; }
      .error404 .error404__section .error404__imgContainer .error404__btnContainer {
        position: absolute;
        bottom: -5%;
        right: 30%; }
        .error404 .error404__section .error404__imgContainer .error404__btnContainer .error404__btnContent {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative; }
          .error404 .error404__section .error404__imgContainer .error404__btnContainer .error404__btnContent .error404--lana:hover {
            transition: 3s;
            transform: rotateZ(360deg); }
          .error404 .error404__section .error404__imgContainer .error404__btnContainer .error404__btnContent .btn--error {
            font-size: 40px;
            position: absolute;
            color: #fff4ee; }
            .error404 .error404__section .error404__imgContainer .error404__btnContainer .error404__btnContent .btn--error:hover {
              color: #dd2451; }

@media only screen and (max-width: 360px) {
  .error404 .error404__section .error404__titles .error404--title {
    font-size: 50px; }
  .error404 .error404__section .error404__titles .error404--title2 {
    font-size: 30px; }
  .error404 .error404__section .error404__imgContainer {
    width: 260px;
    height: auto; }
    .error404 .error404__section .error404__imgContainer .error404__img {
      margin-top: 50px;
      height: 140px;
      width: auto; }
    .error404 .error404__section .error404__imgContainer .error404__btnContainer {
      bottom: -5%;
      right: 10%; }
      .error404 .error404__section .error404__imgContainer .error404__btnContainer .error404__btnContent .error404--lana {
        width: 60%; }
      .error404 .error404__section .error404__imgContainer .error404__btnContainer .error404__btnContent .btn--error {
        font-size: 25px; } }

@media only screen and (min-width: 361px) and (max-width: 540px) {
  .error404 .error404__section .error404__titles .error404--title {
    font-size: 60px; }
  .error404 .error404__section .error404__titles .error404--title2 {
    font-size: 40px; }
  .error404 .error404__section .error404__imgContainer {
    width: 360px;
    height: auto; }
    .error404 .error404__section .error404__imgContainer .error404__img {
      margin-top: 50px;
      height: 190px;
      width: auto; }
    .error404 .error404__section .error404__imgContainer .error404__btnContainer {
      bottom: -10%;
      right: 10%; }
      .error404 .error404__section .error404__imgContainer .error404__btnContainer .error404__btnContent .error404--lana {
        width: 60%; }
      .error404 .error404__section .error404__imgContainer .error404__btnContainer .error404__btnContent .btn--error {
        font-size: 25px; } }

@media only screen and (min-width: 541px) and (max-width: 769px) {
  .error404 .error404__section .error404__titles .error404--title {
    font-size: 80px; }
  .error404 .error404__section .error404__titles .error404--title2 {
    font-size: 60px; }
  .error404 .error404__section .error404__imgContainer {
    width: 540px;
    height: auto; }
    .error404 .error404__section .error404__imgContainer .error404__img {
      margin-top: 50px;
      height: 287px; }
    .error404 .error404__section .error404__imgContainer .error404__btnContainer {
      right: 20%; }
      .error404 .error404__section .error404__imgContainer .error404__btnContainer .error404__btnContent .error404--lana {
        width: 90%; } }

/* ------------- FOOTER ------------- */
footer {
  grid-area: footer;
  background-color: #827161;
  color: #fff4ee;
  font-family: "Zen Loop", cursive;
  font-size: 25px;
  align-items: center;
  height: auto;
  margin-top: 40px; }
  footer .footer__ulContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px; }
    footer .footer__ulContainer .footer__list {
      list-style: none; }
    footer .footer__ulContainer .socialMedia {
      display: flex; }
      footer .footer__ulContainer .socialMedia li .footer__icon {
        color: #fff4ee; }
        footer .footer__ulContainer .socialMedia li .footer__icon i {
          font-size: 35px; }
          footer .footer__ulContainer .socialMedia li .footer__icon i:nth-child(-n+2) {
            margin-left: 30px; }
          footer .footer__ulContainer .socialMedia li .footer__icon i:hover {
            color: #d67b60; }
  footer .footer__text {
    font-family: "Zen Loop", cursive;
    color: #fff4ee;
    background-color: #d67b60;
    word-spacing: 5px;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 5px 0; }

@media only screen and (max-width: 578px) {
  footer .footer__ulContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 0; }
    footer .footer__ulContainer .footer__list {
      padding: 0;
      text-align: center; }
    footer .footer__ulContainer .socialMedia li .footer__icon i {
      font-size: 35px; }
      footer .footer__ulContainer .socialMedia li .footer__icon i:nth-child(-n+2) {
        margin-left: 10px; } }
