.error404 {
    background-color: $light-pink;
    
    .error404__section {
        @include center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        position: relative;
        animation-name: aparecer;
        animation-duration: 1s;

        .error404__titles {

            .error404--title {
                font-size: 100px;
            }

            .error404--title2 {
                font-size: 40px;
                word-spacing: 3px;
            }

        }

        .error404__imgContainer {
            position: relative;
            height: 400px;

            .error404__img {
                height: 400px;
            }
        
            .error404__btnContainer {
                position: absolute;
                bottom: -5%;
                right: 30%;

                .error404__btnContent {
                    @include center;
                    align-items: center;
                    flex-direction: column;
                    position: relative;

                    .error404--lana {

                        &:hover {
                            transition: 3s;
                            transform: rotateZ(360deg);
                        }
                    }

                    .btn--error {
                        font-size: 40px;
                        position: absolute;
                        color: $light-pink;

                        &:hover {
                            color: $red;
                        }
                    }
        
                }
        
            }

        }

    }

}


// MEDIA QUERIES -------------------------

@media only screen and (max-width: 360px) {

    .error404 {
        
        .error404__section {
    
            .error404__titles {
    
                .error404--title {
                    font-size: 50px;
                }
    
                .error404--title2 {
                    font-size: 30px;
                }
    
            }
    
            .error404__imgContainer {
                width: 260px;
                height: auto;
    
                .error404__img {
                    margin-top: 50px;
                    height: 140px;
                    width: auto;
                }
            
                .error404__btnContainer {
                    bottom: -5%;
                    right: 10%;

                    .error404__btnContent{
                        .error404--lana {
                            width: 60%;
                        }
    
                        .btn--error{
                            font-size: 25px;
                        }
                    }
                }
    
            }
    
        }
    
    }

}

@media only screen and (min-width: 361px) and (max-width: 540px) {
    .error404 {
        
        .error404__section {
    
            .error404__titles {
    
                .error404--title {
                    font-size: 60px;
                }
    
                .error404--title2 {
                    font-size: 40px;
                }
    
            }
    
            .error404__imgContainer {
                width: 360px;
                height: auto;
    
                .error404__img {
                    margin-top: 50px;
                    height: 190px;
                    width: auto;
                }
            
                .error404__btnContainer {
                    bottom: -10%;
                    right: 10%;

                    .error404__btnContent{
                        .error404--lana {
                            width: 60%;
                        }
    
                        .btn--error{
                            font-size: 25px;
                        }
                    }
                }
    
            }
    
        }
    
    }
}

@media only screen and (min-width: 541px) and (max-width: 769px) {

    .error404 {
        
        .error404__section {
    
            .error404__titles {
    
                .error404--title {
                    font-size: 80px;
                }
    
                .error404--title2 {
                    font-size: 60px;
                }
    
            }
    
            .error404__imgContainer {
                width: 540px;
                height: auto;
    
                .error404__img {
                    margin-top: 50px;
                    height: 287px;
                }
            
                .error404__btnContainer {
                    right: 20%;

                    .error404__btnContent{
                        .error404--lana {
                            width: 90%;
                        }
                    }
                }
    
            }
    
        }
    
    }
}