.adopciones-title{
    margin-top: 50px;
}

.carousel-container{
    @include flex-col-al-jus-center;
    padding: 100px;
    background-image: url(../contactbackground-min.png);

    .carousel, .carousel-title{
        background-color: #ffeadd;
        box-shadow: 10px 10px 10px rgba(27, 23, 7, 0.253);
        width: 80vw;
    }
    .carousel-title{
        border-radius: 50px 50px 0 0;
        padding-top: 10px;
    }

    .carousel{
        height: 600px;
        padding: 0 10px 10px 10px;
        border-radius: 0 0 50px 50px;

        &-slide-wrapper{
            height: calc(100% - 2em); //100% - nav height
            overflow: hidden;

            .carousel-slide{
                transition: 0.5s ease-in-out;
                position: relative;
                height: 100%;

                .slide{
                    position: absolute;
                    @include flex-justify-center;
                    align-items: center;
                    width: 100%;
                    height: calc(100% - 2em);
                    padding: 30px;
                    
                    &-text {
                        width: 30%;
                        font-family: $title;
                        font-weight: bolder;
                        font-size: 40px;
                        color: $red;
                    }
                    &-img{
                        height: 100%;
                        width: auto;
                    }
                }
            }

        }
        &_nav{
            text-align: center;
            height: 2em;
    
            span{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 10px;
                border-radius: 100%;
                background-color: #ffcc74de;
                box-shadow: 0 0 0 2px #ffcd74 inset;
                cursor: pointer;
            }
            .carusel-dot--active{
                box-shadow: 0 0 0 2px rgba(27, 23, 7, 0.253) inset;
                background: #d67b60;
            }
        }
    }
}




// MEDIAQUERIES ------------------------------

@media only screen and (max-width: 769px) {
    .carousel-container{
        padding: 20px;
        .carousel{
            height: 80vh;

            &-slide-wrapper{
                .carousel-slide{
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .slide{
                        @include flex-justify-center;
                        flex-direction: column-reverse;
                        &-text{
                            font-size: 1.5em;
                            width: 100%;
                            text-align: center;
                        }
                        &-img{
                            width: 100%;
                            height: auto;
                            margin-bottom: 50px;
                        }
                    }
                }
            }
            &_nav{
                span{
                    width: 15px;
                    height: 15px;
                    margin: 10px;
                }
            }
        }
    }
}