.adopciones-title{
    margin-top: 50px;
}

.carousel-container{
    @include flex-col-al-jus-center;
    padding: 100px;
    background-image: url(../contactbackground-min.png);

    .carousel{
        width: 100em;
        height: 600px;
        padding: 10px;
        background-color: #ffeadd;
        border-radius: 50px;

        &-slide-wrapper{
            height: calc(100% - 2em); //100% - nav height
            overflow: hidden;

            .carousel-slide{
                transition: 0.5s ease-in-out;
                position: relative;

                .slide{
                    position: absolute;
                    @include flex-justify-center;
                    align-items: center;
                    width: 100%;
                    
                    &-text {
                        width: 30%;
                        font-family: $title;
                        font-weight: bolder;
                        font-size: 40px;
                        color: $red;
                    }
                }
            }

        }
        &_nav{
            text-align: center;
            height: 2em;
    
            span{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 10px;
                border-radius: 100%;
                background-color: #ffcc74de;
                box-shadow: 0 0 0 2px #ffcd74 inset;
                cursor: pointer;
            }
            .carusel-dot--active{
                box-shadow: 0 0 0 2px rgba(27, 23, 7, 0.253) inset;
                background: #d67b60;
            }
        }
    }
}




// MEDIAQUERIES ------------------------------

@media only screen and (max-width: 360px) {

}