#contactForm-container {
    grid-area: section1;
    @include center;
    background-image: url(../contactbackground-min.png);
    background-repeat: repeat;

    #form {
        background-color: rgb(255, 255, 255);
        border: 10px groove #dd2451;
        color: $brown;

        @include column-center;
        margin-top: 100px;
        margin-bottom: 100px;
        width: auto;
        height: auto;
        padding: 50px 60px;

        .form-inputsContainer {
            padding-bottom: 20px;

            .inputs-userdata{
                @include column-center;
                margin-bottom: 20px;

                input, .input-location, .location-select{
                    font-family: $title;
                    color: $brown;
                    font-size: 200%;
                    text-align: center;
                }

                input{
                    margin-bottom: 20px;
                    width: 300px;
                    border: none;
                    border-bottom: 2px solid $brown;
                }

                .input-location, .location-select{
                    font-weight: bold;
                }

                .location-select{
                    border: none;
                    border-radius: 5px;
                    padding: 5px 15px;
                    width: 210px;
                    overflow: hidden;
                    outline: 0;
                    background: $pink;
    
                    font-size: 25px;
                    cursor: pointer;
                }
            }

            .form-title {
                font-family: $title;
                color: $brown;
                font-size: 200%;
                font-weight: bold;
                margin: 0;
                text-align: center;
            }

            textarea {
                border: groove 5px $red;
                width: 250px;
                height: 50%;
                padding: 10px;
                outline: 0;
            }
        }

        .form__btncontainer{
            @include center;

            .btn--form {
                @include btn;
                font-family: $title;
                color: $brown;
                font-size: 30px;

                &:first-child {
                    margin-right: 20px;
                }
            }

        }

        .warning {
            text-align: center;
            margin: auto;
            padding-top: 10px;
        }
    }
}

// MEDIA QUERIES -------------------------

@media only screen and (max-width: 360px) {
    #contactForm-container {
        #form {
            padding: 50px 20px;
            border: 4px groove $red;
            width: 300px;
            
            .form-inputsContainer{
                .inputs-userdata input{
                    width: 200px;
                    font-size: 150%;
                }
                    
                textarea {
                    border: groove 2px $red;
                    width: 230px;
                    height: 50%;
                    padding: 10px;
                    outline: 0;
                }
            }

            .form__btncontainer {
                margin-bottom: 20px;

                .btn--form {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

        }
    }
}


@media only screen and (min-width: 361px) and (max-width: 540px) {

    #contactoSection {
        form {
            padding: 15px 10px;
            border: 5px groove $red;

            .form__container {
                padding-bottom: 20px;


                .form__select {
                    @include center;
            
                    select {
                        align-self: center;
                    }
                }
    
                textarea {
                    border: groove 4px $red;
                    width: 250px;
                    height: 50%;
                    padding: 10px;
                    outline: 0;
                }
            }

            .form__btncontainer {
                margin-bottom: 20px;

                .btn--form {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

        }
    }

}

@media only screen and (min-width: 541px) and (max-width: 768px) {

    #contactoSection {
        form {
            padding: 30px 40px;
            .form__container {
    
                textarea {
                    width: 250px;
                    height: 50%;
                    padding: 10px;
                    outline: 0;
                }
            }

            .form__btncontainer {
                margin-bottom: 20px;

                .btn--form {
                    font-size: 30px;
                    font-weight: bold;
                }
            }

        }
    }

}