.input-location, .location-select, .form-title{
    color: $brown;
    text-align: center;
}
#contactForm-container {
    grid-area: section1;
    @include flex-justify-center;
    background-image: url(../contactbackground-min.png);
    background-repeat: repeat;

    #form {
        background-color: rgb(255, 255, 255);
        border: 10px groove $red;
        color: $brown;
        @include flex-col-al-jus-center;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 550px;
        height: auto;
        padding: 50px 60px;

        .form-inputsContainer {
            padding-bottom: 20px;

            .inputs-userdata{
                @include flex-col-al-jus-center;
                margin-bottom: 20px;

                input, .input-location, .location-select{
                    font-family: $title;
                    font-size: 200%;
                }
                input{
                    margin-bottom: 20px;
                    width: 300px;
                    border: none;
                    border-bottom: 2px solid $brown;
                    text-align: center;
                }
                .input-location, .location-select{
                    font-weight: bold;
                }
                .location-select{
                    border: none;
                    border-radius: 5px;
                    padding: 5px 15px;
                    width: 210px;
                    overflow: hidden;
                    outline: 0;
                    background: $pink;
    
                    font-size: 25px;
                    cursor: pointer;
                }
            }

            .form-title {
                font-family: $title;
                font-size: 200%;
                font-weight: bold;
                margin: 0;
            }
            label{
                font-family: $text;
                font-size: 20px;
                text-align: center;
            }
            textarea {
                border: groove 5px $red;
                width: 250px;
                height: auto;
                padding: 10px;
                outline: 0;
            }
        }

        .form-bttncontainer{
            @include flex-justify-center;

            .form-bttn {
                @include btn;
                font-family: $title;
                color: $brown;
                font-size: 25px;
                font-weight: bold;

                &:first-child {
                    margin-right: 20px;
                }
            }
        }

        .warning {
            text-align: center;
            margin: auto;
            padding-top: 10px;
        }
    }
}

// MEDIA QUERIES -------------------------
@media only screen and (max-width: 360px) {
    #contactForm-container {
        #form {
            padding: 50px 20px;
            border: 7px groove $red;
            width: 300px;

            .form-inputsContainer{
                .inputs-userdata input{
                    width: 200px;
                    font-size: 150%;
                }
                textarea {
                    width: 220px;
                }
            }
        }
    }
}

@media only screen and (min-width: 361px) and (max-width: 540px) {
    #contactForm-container {
        #form {
            padding: 50px 0;
            border: 8px groove $red;

            .form-inputsContainer {
                textarea {
                    border: groove 4px $red;
                    width: 250px;
                    padding: 10px;
                }
            }
            .form__btncontainer {
                .btn--form {
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 541px) and (max-width: 768px) {

    #contactForm-container {
        #form {
            padding: 30px 40px;
            .form__container {
                textarea {
                    width: 250px;
                    padding: 10px;
                }
            }
            .form__btncontainer {
                .btn--form {
                    font-size: 30px;
                }
            }
        }
    }
}