.donaciones-body {
    grid-area: section1;
    @include column-center;
    background-image: url(../contactbackground-min.png);
    background-repeat: repeat;

    .donaciones-content {
        @include column-center;
        background-color: $light-pink;
        padding: 100px 15px;

        .donaciones__paymethod {
            display: grid;
            grid-template-columns: auto 500px;
            grid-template-rows: auto;
            column-gap: 30px;
            justify-content: center;
            margin-top: 40px;

            &:nth-child(n+3) {
                margin-top: 70px;
            }
            .donaciones__logocontainer{
                height: fit-content;
                .pagos--local {
                    height: 150px;
                }
                .pagosLogo {
                    width: 170px;
                }
            }
        }
    }
}

// MEDIA QUERIES -------------------------
@media only screen and (max-width: 768px) {
    .donaciones-body {
        .donaciones-content {
            display: flex;
            flex-direction: column;
    
            .donaciones__paymethod {
                @include center;
                align-items: center;
                flex-direction: column;
                padding: 0 10px;
    
                &:nth-child(n+3) {
                    margin-top: 70px;
                } 
            }
        }
    }
}