.donaciones {
    grid-area: section1;
    @include center;
    background-image: url(../contactbackground-min.png);
    background-repeat: repeat;

    .donaciones-content {
        display: flex;
        flex-direction: column;
        background-color: $light-pink;
        width: 700px;
        padding: 100px 15px;

        .donaciones-type {
            display: grid;
            grid-template-columns: 40% 60%;
            margin-top: 40px;

            div{
                @include column-center;
                padding: 0 10px;
            }
            .donaciones-type-logo{
                height: fit-content;
                padding: 20px;
                align-items: center;

                .type-logo--local {
                    width: 70%;
                }
                .type-logo {
                    width: 170px;
                }
            }
        }
    }
}

// MEDIA QUERIES -------------------------
@media only screen and (max-width: 540px) {
    .donaciones-type {
        width: 300px;
    }
}

@media only screen and (min-width: 541px) and (max-width: 768px) {
    .donaciones-type {
        width: 500px;
    }
}
@media only screen and (max-width: 768px) {
    .donaciones {
        .donaciones-content {
            width: fit-content;
    
            .donaciones-type {
                @include column-center;
                &:nth-child(n+3) {
                    margin-top: 70px;
                } 
            }
        }
    }
}