/* ------------- INDEX row ------------- */

.row {
    grid-area: section1;
    background-color: $brown;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    height: auto;

    .row-imgContainer {
        @include center;
        align-items: center;

        .row-img {
            height: auto;
            width: 50%;
            transition: 0.5s;
            &:hover{
                transform: scale(1.3,1.3);
            }
        }
    }
}

/* ------------- BLOG ------------- */

.blog-container {
    grid-area: section2;
    margin-bottom: 100px;

    .blog--title {
        padding: 50px;
    }

    .blog {
        display: grid;
        justify-content: center;
        grid-template-columns: 350px 350px;
        row-gap: 40px;
        column-gap: 40px;

        .blog--entry {
            width: 350px;
            height: auto;
            box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.192);
            overflow: hidden;
            background-color: white;
            position: relative;

            .entry-img {
                width: 350px;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.2,1.2);
                }
            }

            .entry-titleContainer {
                position: relative;
                margin-top: -60px;
                padding: 5px auto;
                background-color: rgba(255, 255, 255, 0.801);

                .entry-title {
                    text-align: center;
                    margin-bottom: 0;
                }
            }

            .entry-info {
                background-color: white;
                padding: 10px;
                position: relative;
            }

            .btn {
                @include btn;

                span {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .btn--absolute {
                position: absolute;
                top: 10px;
            }
        }
    }
}

// MEDIA QUERIES ---------------------------
@media only screen and (max-width: 360px) {
    .row {
        background-color: $pink;
        @include center;
        flex-direction: column;
    
        .row-imgContainer {
            padding: 0;

            &:nth-child(-n+2) {
                margin-bottom: 40px;
                }
        }
    }

    .blog-container {
        .blog--title {
            font-size: 300%;
        }

        .blog {
            display: grid;
            justify-items: center;
            grid-template-columns: 240px;
            column-gap: 40px;
    
            .blog--entry {
                width: 240px;
                height: auto;
            
                .entry-img {
                    width: 240px;
                }
            }
            .entry-info {
                display: none;
            }

        }    
    }

}

@media only screen and (min-width: 361px) and (max-width: 540px) {

    .row {
        background-color: $pink;
        @include center;
        flex-direction: column;

        .row-imgContainer {
            margin: 0 auto;
            &:nth-child(-n+2) {
                margin-bottom: 40px;
            }
        }
    }

    .blog-container {

        .blog--title {
            font-size: 300%;
        }
        .blog {
            display: grid;
            justify-items: center;
            grid-template-columns: 340px;
            column-gap: 40px;
    
            .blog--entry {
                width: 300px;
            
                .entry-img {
                    width: 300px;
                }
            }
        }    
    }

}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .row {
        background-color: $pink;
        @include center;
        flex-direction: column;

        .row-imgContainer {
            margin: 0 40px;
            &:nth-child(-n+2) {
                margin-bottom: 40px;
            }
            .row-img {
                width: 60%;
            }
        }
    }
}


@media only screen and (min-width: 541px) and (max-width: 768px) {

    .blog-container {

        .blog--title {
            font-size: 400%;
        }
        .blog {
            display: grid;
            justify-items: center;
            grid-template-columns: 450px;
            row-gap: 40px;
        
    
            .blog--entry {
                width: 450px;

                .entry-img {
                    width: 450px;
                }
                .blog-container--article-title {
                    font-size: 50px;
                    margin-top: -70px;
                }
                .entry-info {
                    font-size: 25px;
                }
            }
        }    
    }
}