#adoptaSection1 {
    grid-area: section1;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 600px 600px;
    row-gap: 100px;
    justify-content: center;
    justify-self: center;
    padding: 0 60px;

    .cat__container {
        justify-self: end;
    }

    .span--adopta {
        font-size: 25px;
    }
}


#adoptaSection2 {
    grid-area: section2;
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: 150px auto;
    justify-content: center;
    margin-bottom: 20px;

    .section2__table{
        height: 700px;
        width: auto;
        margin-top: 40px;

        table, th, td{
            border: 3px solid  $red;
            background-color: white;
        }

        th {
            background-color: $light-pink;
            font-family: $title;
            font-size: 200%;
            color: $brown;
            padding: 30px;
        }

        .firstVerticalRow {
            background-color: $light-pink;
            font-family: $title;
            font-size: 200%;
            font-weight: bold;
            color: $brown;
        }
        
        td {
            font-family: $text;
            font-size: 130%;
            text-align: center;
            padding: 30px;
        }

    }

}

// MEDIAQUERIES ------------------------------

@media only screen and (max-width: 540px) {

    #adoptaSection1 {
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .cat__imgexample {
            justify-content: end;
        }
    }

    #adoptaSection2 {
        grid-area: section2;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    
        .section2__table{
            display: none;
        }

    }

}

@media only screen and (min-width: 541px) and (max-width: 768px) {

    #adoptaSection1 {
        display: grid;
        grid-template-columns: 560px;
        row-gap: 100px;
        justify-content: center;
        justify-self: center;
        padding: 0 60px;
    
        .cat__imgexample {
            justify-self: end;
        }
    }

    #adoptaSection2 {
        grid-area: section2-tablet;
        display: grid;
        grid-template-columns: 570px;
        grid-template-rows: auto;
        justify-content: center;
        margin-bottom: 20px;
    
        .section2__table{
            display: none;
        }
    }
}