.article {
    grid-area: section1;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-column-gap: 20px;
    row-gap: 100px;
    justify-content: center;
}

.cat_container {
    height: auto;
    
    .cat__img {
        height: 70%;
    }
    
}



/* ------------- MEDIA QUERIES ------------- */

@media only screen and (max-width: 768px) {

    .article {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 20px;
    }

    .catImg--2 {
        display: none;
    }

}

@media only screen and (max-width: 360px) {

    .cat_container {

        .cat__img {
            height: 170px;
        }

        .carImg--3 {
            height: 200px;
        }
    }

}


@media only screen and (min-width: 361px) and (max-width: 540px){

    .cat_container {

        .cat__img {
            height: 230px;
        }

        .catImg--2 {
            display: none;
        }

        .catImg--3 {
            height: 300px;
        }
    }
    
}

@media only screen and (min-width: 541px) and (max-width: 768px) {

    .cat_container {
        .cat__img {
            height: 400px;
        }

        .catImg--2{
            display: none;
        }

        .catImg--3 {
            height: 500px;
        }
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 1920px) {
    .cat_container {

        .catImg--3 {
            display: none;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .article{
        grid-template-columns: 300px 300px;
        grid-column-gap: 100px;
        row-gap: 100px;
    }
    
    .cat_container {
        .cat__img {
            height: 250px;
        }

        .catImg--2 {
            height: 300px;
        }
    }
}


@media only screen and (min-width: 1400px) and (max-width: 1920px){

    .article {
        grid-template-columns: 720px 720px;
        grid-column-gap: 100px;
    }
    
    .cat_container {
        .cat__img {
            height: 90%;
        }
    }

}