/* ------------- BANNER ------------- */
.mainWrap {
    grid-area: main;
    @include center;
    height: 100vh;
    background-image: url(../indexbackground-min.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .main__container {
        @include center;
        position: absolute;
        align-self: center;

        .main--title {
            position: absolute;
            top: -50px;
        }

        .main__img {
            width: 60%;
            height: auto;
            animation-name: aparecer;
            animation-duration: 2s;
        }
    }

}


// MEDIA QUERIES -------------------------

@media only screen and (max-width: 360px) {

    .mainWrap {

        .main__container {
            flex-direction: column;
            align-items: center;

            .main__img {
                width: 90%;
                height: auto;
            }
        }

    }

}

@media only screen and (min-width: 361px) and (max-width: 540px) {

    .mainWrap {

        .main__container {
            flex-direction: column;
            align-items: center;

            .main--title {
                position: absolute;
                top: -50px;
            }

            .main__img {
                width: 90%;
                height: auto;
            }
        }

    }

}

@media only screen and (min-width: 541px) and (max-width: 768px) {

    .mainWrap {

        .main__img {
            height: auto;
            width: 60%;
        }

    }

}