/* ------------- BANNER ------------- */
.mainWrap {
    grid-area: main;
    @include center;

    .main__container {
        @include center;
        position: relative;

        h1 {
            font-weight: bold;
        }

        .main--title {
            position: absolute;
            top: auto;
        }

        .main__img {
            height: auto;
            max-width: 80%;
            animation-name: aparecer;
            animation-duration: 2s;
        }

        .gato--negro {
            height: auto;
            max-width: 50%;
        }
    }

}


// MEDIA QUERIES -------------------------

@media only screen and (max-width: 540px) {

    .mainWrap {
        grid-area: main-mini;
        

        .main__img {
            height: 200px;
            width: auto;
        }

    }

}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    .mainWrap {
        grid-area: main-tablet;
        

        .main__img {
            height: auto;
            width: 80%;
        }

    }

}