/* ------------- ESTILOS GENERALES ------------- */
h1, h2, h3, h4 { 
    font-family: $title;
    color: $red;
    font-weight: bold;
    text-align: center;
}

h1 {
    animation-name: aparecer;
    animation-duration: 1s;
    font-size: 11em;
}

a {
    text-decoration: none;
    color: $brown;
    font-family: $title;
    margin: 0 15px;
    font-weight: bold;
}

a:hover {
    color: #dd2451;
}

p {
    font-family: $text;
    color: $brown;
    font-size: 1.3em;
}

/* ------------- SOMBRA ------------- */

.shadow {
    width: 80%;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 50%;
    margin: 5px auto;
}

/* ------------- MEDIA QUERIES ------------- */
@media only screen and (max-width: 360px) {
    h1 {
        font-size: 4em;
    }
    p {
        font-size: 1em;
    }
    .shadow {
        margin: 5px auto 30px auto;
    }
}


@media only screen and (min-width: 361px) and (max-width: 540px){

    h1 {
        font-size: 7em;
    }
    
    p {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 541px) and (max-width: 768px) {

    h1 {
        font-size: 8em;
    }
    
    p {
        font-size: 1.2em;
    }
}