/* ------------- FOOTER ------------- */
footer {
    grid-area: footer;
    background-color: $brown;
    color: $light-pink;
    font-family: $title;
    font-size: 25px;
    align-items: center;
    height: auto;

    .footer__ulContainer {
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;

        .footer__list{
            list-style: none;
        }

        .socialMedia {
            display: flex;
            
            li {

                .footer__icon{
                    color: $light-pink;

                    i {
                        font-size: 35px;
                        
                        &:nth-child(-n+2) {
                            margin-left: 30px;
                            }
                        &:hover {
                            color: #d67b60;
                        }
    
                    }

                }


            }

        }

    }

    .footer__text {
        font-family: $title;
        color: $light-pink;
        background-color: #d67b60;
        word-spacing: 5px;
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 5px 0;
    }

}

// MEDIA QUERIES -------------------------

@media only screen and (max-width: 578px) {

    footer {

        .footer__ulContainer {
            @include center;
            flex-direction: column;
            align-items: center;
            padding: 10px 0;

            .footer__list{
                padding: 0;
                text-align: center;
            }

            .socialMedia {
                
                li {

                    .footer__icon{

                        i {
                            font-size: 35px;
                            
                            &:nth-child(-n+2) {
                                margin-left: 10px;
                                }
        
                        }

                    }


                }

            }

        }

    }

}