/* ------------- ESTILOS GENERALES ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: $light-pink;
    grid-template-areas: "header"
                        "main"
                        "section1"
                        "section2"
                        "footer";
    grid-template-columns: auto;
    grid-template-rows: 100px auto auto auto 50px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
}

.container {
    width: $width;
    margin: 20px auto;
}

h1, h2, h3, h4 { 
    font-family: $title;
    color: $red;
    word-spacing: 20px;
    font-weight: bold;
    text-align: center;
}

h1 {
    animation-name: aparecer;
    animation-duration: 2s;
}

a {
    text-decoration: none;
    color: $brown;
    font-family: $title;
    margin: 0 15px;
    font-weight: bold;
}

a:hover {
    color: #dd2451;
}

p {
    font-family: $text;
    color: $brown;
}

/* ------------- SOMBRA ------------- */

.shadow {
    width: 60%;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 50%;
    margin: 10px auto;
}

/* ------------- KEYFRAMES ------------- */

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

/* ------------- MEDIA QUERIES ------------- */

@media only screen and (max-width: 540px) {

    body {
        grid-template-areas: "header-mini"
                            "main-mini"
                            "section1-mini"
                            "section2-mini"
                            "footer-mini";
        grid-template-columns: auto;
        grid-template-rows: 70px 100vh auto auto 30px;
    }

    .container {
        width: ($width/3)-40px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    body {
        grid-template-areas: "header-tablet"
                            "main-tablet"
                            "section1-tablet"
                            "section2-tablet"
                            "footer-tablet";
        grid-template-columns: auto;
        grid-template-rows: 100px 100vh auto auto 30px;
    }

    .container {
        width: 570px;
    }
}