/* ------------- HEADER ------------- */
header {
    grid-area: header;
    position: fixed;
    z-index: 1;
    transition: .6s ease-out;

    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    width: 100%;

    .logo {
        height: 80px;
    }
    nav {
        display: flex;
        align-items: center;

            .menu-btn {
                display: none;
            }
            .menu-icon {
                position: relative;
                cursor: pointer;
                z-index: 1;
                padding: 20px 10px;
                display: none;

                &__line {
                    display: block;
                    position: relative;
                    background: $brown;
                    height: 2px;
                    width: 25px;
                    border-radius: 4px;

                    &::before, &::after {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        border-radius: 4px;
                        background: $brown;

                    }
                    &::before {
                        transform: translateY(-5px);
                    }
                    &::after {
                        transform: translateY(5px);
                    }
                }
            }
            .menu {
                display: flex;
                list-style: none;
                &__link{
                    a {
                        font-family: $title;
                        font-size: 30px;
                        margin: auto 0;
                        line-height: 70px;
        
                        &:nth-child(-n+4) {
                            margin-right: 2rem;
                        }
                    }
                }
            }    
    }
    &.scrolled {
        background-color: #fff4eec4;
        color: $brown;
        box-shadow: 0px 0px 10px rgba(71, 71, 71, 0.151);
    }
}


// MEDIAQUERIES HEADER----------------------------------
@media only screen and (max-width: 540px) {
    header {
        .logo {
            height: 50px;
        }
    }
}
@media only screen and (max-width: 768px) {
    header {
        padding: 5px 0;
        width: 100vw;

        &.scrolled {
            background-color: transparent;
            box-shadow: none;
        }
        nav {
            .menu-btn:checked ~ .menu {
                opacity: 1;
                clip-path: circle(100% at center);
            }
            .menu-icon {
                display: block;
            }
            .menu {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 100vh;
                width: 100vw;
                background: $light-pink;
                transition:
                    opacity .8s .3s,
                    clip-path 1s .2s;
                clip-path: circle(200px at top right);
    
                &__link{
                    a {
                        font-family: $title;
                        font-size: 30px;
                        margin: auto 0;
                        line-height: 70px;
        
                        &:nth-child(-n+4) {
                            margin-right: 2rem;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 550px) and (max-width: 719px) {
    header {
        .logo {
            height: 70px;
        }
    }
}
@media only screen and (min-width: 720px) and (max-width: 1000px) {
    header {
        .logo {
            height: 80px;
        }
    }
}