/* ------------- BANNER ------------- */
.hero-container {
    grid-area: main;
    @include flex-jc-center;
    height: 100vh;
    background-image: url(../indexbackground-min.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .hero {
        position: absolute;
        @include flex-jc-center;
        align-self: center;
        width: fit-content;

        .hero--title{
            position: absolute;
        }
        .title--transito{
            right: 100px;
        }
        .title--donaciones{
            left:0px;
            bottom: 270px;
        }

        .hero--img{
            width: 100%;
            animation-name: aparecer;
            animation-duration: 1s;
        }
        .hero--img-container{ // pages/contacto hero only
            display: grid;
            grid-template-columns: 50% 50%;
            column-gap: 150px;
            align-items: center;
            justify-content: center;
        }
    }
}


// MEDIA QUERIES -------------------------
@media only screen and (max-width: 540px) {
    .hero--img {
        position: relative;
        bottom: -50px;
    }
}
    
@media only screen and (max-width: 900px) {
    .hero-container {
        .hero {
            @include flex-col-al-jus-center;
            padding: 10px;

            .hero--title{
                position: static;
            }
            .hero--img-container{ // pages/contacto hero only
                grid-template-columns: 60% 40%;
                column-gap: 0;
            }
        }
    }
}
@media only screen and (min-width: 780px )and (max-width: 1999px) {
    .hero-container{
        .hero{
            .hero--img-container{ // pages/contacto hero only
                padding: 20px;
                column-gap: 20px;
            }
        }
    }
}
@media only screen and (min-width: 1200px )and (max-width: 1450px) {
    .hero-container{
        .hero{
            .hero--img-container{ // pages/contacto hero only
                column-gap: 50px;
            }
        }
    }
}