/* ------------- INDEX RESCUES ------------- */
.rescues {
    grid-area: section2;
    margin-top: 40px;

    .rescues--title {
        font-weight: bolder;
        text-align: center;
        margin-bottom: 10px;
    }

    .rescues__article-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 350px 350px;
        row-gap: 40px;
        column-gap: 40px;

        .rescues__article {
            width: 350px;
            height: auto;
            box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.192);
            overflow: hidden;
            background-color: white;
            position: relative;

            .rescues__img {
                width: 350px;

                &:hover{
                    transition: 1s;
                    transform: scale(1.2,1.2);
                }
            }

            .rescues__articleTitleContainer {
                position: relative;
                margin-top: -60px;
                padding: 5px auto;
                background-color: rgba(255, 255, 255, 0.801);

                .rescues--article-title {
                    text-align: center;
                }
            }

            .rescues__p {
                background-color: white;
                padding: 10px;
                position: relative;
            }

            .btn {
                @include btn;

                span {
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .btn--absolute {
                position: absolute;
                top: 10px;
            }
        }
    }
}

// MEDIA QUERIES ---------------------------
@media only screen and (max-width: 360px) {

    .rescues {

        .rescues--title {
            font-size: 300%;
        }

        .rescues__article-container {
            display: grid;
            justify-items: center;
            grid-template-columns: 240px;
            column-gap: 40px;
        
    
            .rescues__article {
                width: 240px;
                height: auto;
            
                .rescues__img {
                    width: 240px;
                }
            }

            .rescues__p {
                display: none;
            }

        }    
    }

}

@media only screen and (min-width: 361px) and (max-width: 540px) {

    .rescues {

        .rescues--title {
            font-size: 300%;
        }

        .rescues__article-container {
            display: grid;
            justify-items: center;
            grid-template-columns: 340px;
            column-gap: 40px;
        
    
            .rescues__article {
                width: 300px;
            
                .rescues__img {
                    width: 300px;
                }
            }
        }    
    }

}

@media only screen and (min-width: 541px) and (max-width: 768px) {

    .rescues {

        .rescues--title {
            font-size: 400%;
        }

        .rescues__article-container {
            display: grid;
            justify-items: center;
            grid-template-columns: 450px;
            row-gap: 40px;
        
    
            .rescues__article {
                width: 450px;

                .rescues__img {
                    width: 450px;
                }

                .rescues--article-title {
                    font-size: 50px;
                    margin-top: -70px;
                }
    
                .rescues__p {
                    font-size: 25px;
                }
            }
        }    
    }

}