.main__rimg {
    height: auto;
    width: 50%;
}

.refugioArticles {
    grid-area: section1;
    display: grid;
    grid-template-columns: 600px 600px;
    column-gap: 20px;
    row-gap: 100px;
    justify-content: center;
}

.cat_container {
    justify-self: end;
}



/* ------------- MEDIA QUERIES ------------- */

@media only screen and (max-width: 540px) {

    .refugioArticles {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 20px;
    }

    .cat__imgexample {
        height: 100px;
    }

}

@media only screen and (min-width: 361px) and (max-width: 540px) {
    
    .cat__imgexample {
        height: 300px;
    }

}

@media only screen and (min-width: 541px) and (max-width: 768px) {

    .refugioArticles {
        grid-area: section1;
        display: grid;
        grid-template-columns: 260px 260px;
        grid-template-rows: auto;
        row-gap: 100px;
        column-gap: 20px;
        justify-content: center;
    }
    
    .cat__imgexample {
        height: 250px;
    }

}