.main__rimg {
    height: auto;
    width: 50%;
}

.refugioArticles {
    grid-area: section1;
    display: grid;
    grid-template-columns: 600px 600px;
    column-gap: 20px;
    row-gap: 100px;
    justify-content: center;
}

.cat_container {
    justify-self: end;
}



/* ------------- MEDIA QUERIES ------------- */

@media only screen and (max-width: 540px) {

    .refugioArticles {
        grid-area: section1;
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: auto;
        row-gap: 100px;
        justify-content: center;
    }

    .cat__imgexample {
        height: 70px;
    }

}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    .refugioArticles {
        grid-area: section1;
        display: grid;
        grid-template-columns: 280px 280px;
        row-gap: 100px;
        justify-content: center;
    }
    
    .cat__imgexample {
        height: 300px;
    }

}