// COLOUR ------------------------------------

$title: 'Zen Loop', cursive;
$text: 'Roboto', sans-serif;
$red: #dd2451;
$brown: #827161;
$light-pink: #fff4ee;
$pink: #ffeadd;
$bgimg: url(../);

$condicional: xxx;

$width: 1200px;


// MIXIN ------------------------------------

@mixin center{
    display: flex;
    justify-content: center;
} 

@mixin column-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin btn {
    border: none;
    height: 50px;
    min-width: 100px;
    padding: 0 10px;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: $red;
    }
}


// MAP ------------------------------------

$btn-colour: (
    first: #fff4db,
    second: #eec6aa,
    third: #ffcd74,
    fourth: #d67b60
);

// ACCESO A MAPA CON EACH

@each $name-color, $bgcolor in $btn-colour {
    .btn--#{$name-color} {
        background-color: $bgcolor;
    }
}

// BUCLE ------------------------------------

@for $i from 2 through 4 {
    h#{$i} {
        font-size: calc(12em / $i) - 1em;
    }
}


// MEDIA QUERIES ------------------------------------

@media only screen and (max-width: 540px) {

    @for $i from 2 through 4 {
        h#{$i} {
            font-size: calc(4em / $i) + 0.2em;
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    @for $i from 2 through 4 {
        h#{$i} {
            font-size: calc(8em / $i) - 1em;
        }
    }
}